<div id="container_wrap">
	<div class="menu_list">
		<div class="columns">
			<section>
				<a href="#" data-btn-switch="store">
					<img src="style/images/index_bg_01.png" class="list_pic01 float_l" />
				</a>
				<img src="style/images/index_bg_02.jpg" class="list_pic02" />
			</section>
		</div>

		<div class="columns">
			<section>
				<img src="style/images/index_bg_03.jpg" class="list_pic03 float_l" />
				<a data-btn-switch="where" href="#">
					<img src="style/images/index_bg_04.png" class="list_pic04"/>
				</a>
			</section>
		</div>

		<div class="column skew">
			<img src="style/images/index_bg_05.jpg" class="list_pic05"/>
		</div>

		<div class="columns">
			<section>
				<a data-btn-switch="news" href="#">
					<img src="style/images/index_bg_06.png" class="list_pic06 float_l"/>
				</a>
				<img src="style/images/index_bg_07.jpg" class="list_pic07"/>
			<section>
		</div>

		<div class="column">
			<img src="style/images/index_bg_08.jpg" class="list_pic08"/>
		</div>
	</div>
</div>
