<div id="container_wrap">
	<div class="store_list">
		<ul>
			<li>
				<p class="store_pic"><img src="style/images/logo_04.jpg"/></p>
				<dl class="store_info">
					<dt class="store_name">漫畫王</dt>
					<dd>
						獨立包廂+個人電腦+專屬沙發+免費漫畫+飲料無限=1元/分
						<a data-btn-switch="where" href="#">最近門市</a>
					</dd>
				</dl>
			</li>

			<li>
				<p class="store_pic"><img src="style/images/logo_04.jpg"/></p>
				<dl class="store_info">
					<dt class="store_name">漫畫王</dt>
					<dd>
						獨立包廂+個人電腦+專屬沙發+免費漫畫+飲料無限=1元/分
						<a data-btn-switch="where" href="#">最近門市</a>
					</dd>
				</dl>
			</li>

			<li>
				<p class="store_pic"><img src="style/images/logo_04.jpg"/></p>
				<dl class="store_info">
					<dt class="store_name">漫畫王</dt>
					<dd>
						獨立包廂+個人電腦+專屬沙發+免費漫畫+飲料無限=1元/分
						<a data-btn-switch="where" href="#">最近門市</a>
					</dd>
				</dl>
			</li>

			<li>
				<p class="store_pic"><img src="style/images/logo_04.jpg"/></p>
				<dl class="store_info">
					<dt class="store_name">漫畫王</dt>
					<dd>
						獨立包廂+個人電腦+專屬沙發+免費漫畫+飲料無限=1元/分
						<a data-btn-switch="where" href="#">最近門市</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
